/* div {
    color: white;
} */

.menu-pointer {
    /* width: 0; */
    /* top: 0; */
    /* font-size: 25px; */
    cursor: pointer;
    color: #5b5b5b;
    /* padding-right: 2em; */
  }
  
  .close {
    cursor: pointer;
    color: #eae7dc;
  }
  
  .sm-wrapper {
    margin-top: 10px; 
  }
  
  .sideMenu {
    height: 100%;
    width: 50px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    /* background-color: #11100f; */
    background-color: #1f1f23;

    overflow: hidden;
    transition: 0.5s;
    padding-top: 1px;
  }
  
  .sideMenu a {
    padding: 30px 8px 8px 32px;
    text-decoration: none;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: #ffffff;
    display: block;
    letter-spacing: 3px;
    margin-bottom: 25px;
    transition: 0.3s;
    font-size: 15px;
  }
  
  .sideMenu .close {
    position: absolute;
    top: 0;
    right: 10px;
    font-size: 30px;
    margin-left: 30px;
    color: #eae7dc;
  
  }
  
  /* Side Nav Hover */

  /* .sm-wrapper a:after {
    z-index: -1;
    position: absolute;
    left: 0%;
    width: 0;
    height: 25px;
    background: #e85e4f;
    content: '';
    transition: width 0.35s ease-in-out;
    text-decoration: none;
  }
  
  .sm-wrapper a:hover:after {
    width: 10%;
  }
  
  .sm-wrapper a:hover {
    text-decoration: none;
    padding-left: 55px;
    transition: 0.35s ease-in-out;
    color: #e85e4f;
    transform: scale(1.1);
  } */
  
  /* Contents */
  
  #pg-content {
    transition: margin-left 0.2s;
    padding: 16px;
  }

  
  .brand-name {
    font-weight:unset;
    font-size: 1.5em;
    letter-spacing: 5px;
    text-decoration: none;
    color: black;
    /* padding-left: 100px; */
    margin-top: 1%;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .main-contents .wrapper-tb {
    height: 100em;
    /* width: 5em; */
    -webkit-box-shadow: 0px 10px 13px -7px #000000, 19px 18px 48px -25px rgba(209,217,230,0.45); 
    box-shadow: 0px 10px 13px -7px #000000, 19px 18px 48px -25px rgba(209,217,230,0.45);
    background-color: #525355;
  }

  .button-logout {
      float: right;
      width: 20%;
      height: 70%;
  }

  .content-wrapper {
    /* height: 50vh; */
    width: 800px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    color: rgb(0, 0, 0);
}
.sm-wrapper .fa-icon {
  margin-left: auto;
  display: flex;
  margin-left: 20px;
}
.fa-icon {
  color: white;
  height: 10vh;
  width: 10vh;
  cursor: pointer;
}


.sm-wrapper .fa-icon:hover {
  text-decoration: none;
  /* padding-left: 3px; */
  transition: 0.20s ease-in-out;
  color: #e85e4f;
  transform: scale(1.5);
}

.hr-side {
  background-color: white;
}

.menu-text {
  margin-left: auto;
  /* margin-right: auto; */
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
}

.title-wrapper {
  /* margin-left: auto;
  margin-right: auto;
  display: flex;
  align-items: center;
  justify-content: center; */
}

.user-icon {
  margin-left: auto;
  margin-right: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  color: black;
  height: 100px;
  width: 100px;
}
